# Dependencias
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Entorno
.env

# Carpetas de salida
output/
screenshots/

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# IDEs y editores
.idea/
.vscode/
*.swp
*.swo